<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Download</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- Part of using the ejs to evaluate the following code on the server not in the client side -->
    <!-- check if there is no match in the password and show a message -->
    <% if(locals.error) { %>
    <div class="error">Incorrect Password.</div>
    <% } %>

    <!-- form to collect the password and compare it -->
    <form method="post" class="passwordForm shadow">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <button class="btn" type="submit">Download</button>
      <a href="/" class="goHome">Home</a>
    </form>
  </body>
</html>
